<h2>Contact</h2>
<form method='POST' action='/contact/send-message'>
  <label>Name: <input type='text' name='author' /></label>
  <label>Email: <input type='email' name='sender' /></label>
  <label>Title: <input type='name' name='title' /></label>
  <label>Message: <textarea name='message'></textarea></label>
  <button type='submit'>Send message</button>
</form>